body{
  font-family: "Roboto","Noto Sans";
  font-size: 24px;
  line-height: 36px;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

header{
  padding-top: 37px;
  padding-bottom: 48px;
}

h1{
  font-size: 80px;
  line-height: 106px;
  border-bottom: 3px solid black;
  margin-bottom: 51px;
}

.title{
  font-size: 32px;
  line-height: 43px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.subtitle{
  color: #A00404;
  padding-left: 16px;
  line-height: 32px;
}

.titleWhite{
    font-size: 32px;
    color: white;
    line-height: 45px;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    justify-content: center;
}

.subtitleWhite{
  line-height: 32px;
  color: white;
  padding-left: 16px;
}

.pb-24{
  padding-bottom: 24px;
}

.mb-72{
  margin-bottom: 72px;
}

.skills{
  background-color: #415165;
  padding-bottom: 36px;
}

.skills-inner{
  width: 996px;
  margin: 0 auto;
  text-align: center;
}
.skillsList{
  display: inline-block;
  text-align-last: left;
  color: white;
  padding-left: 24px;
  margin-top: 37px;
  border-left: 1px solid #96A9C4;
}
.skillsList>li+li{
  padding-top: 16px;
}

.workList{
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
  margin-left: 24px;
}
.workList>li+li{
  padding-top: 24px;
}

footer{
  background-color: #415165;
}
.footer-inner{
  text-align: center;
}
.contactList{
  display: inline-block;
  text-align: center;
  padding-top: 32px;
  color: white;
  padding-bottom: 36px;
}
.contactList>li+li{
  padding-top: 16px;
  
}
.iconList>img+img{
  padding-left: 24px;
}
